@font-face {
  font-family: "iconfont"; /* Project id 2699879 */
  src: url("../assets/font/iconfont.woff2?t=1627270672554") format("woff2"),
    url("../assets/font/iconfont.woff?t=1627270672554") format("woff"),
    url("../assets/font/iconfont.ttf?t=1627270672554") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rising:before {
  content: "\e703";
}

.icon-ellipsis:before {
  content: "\e74f";
}

.icon-falling:before {
  content: "\e750";
}

.icon-leftarrow:before {
  content: "\e755";
}

.icon-Rightarrow:before {
  content: "\e761";
}
